<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title>Angular with Webpack</title>
    <link rel="stylesheet" href="./style/main.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/css/foundation.min.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css"/>
</head>
<body ng-cloak>
<header>
    <div class="row">
        <h1 class='app-name left'>Trello</h1>
    </div>
</header>

<section ng-controller="listGroupCtrl as listGroupCtrl">

    <section class="list" ng-repeat="list in listGroupCtrl.lists" ng-controller="listCtrl as listCtrl">

        <div class="list-header">
            <h1>{{list.listName}}</h1>
            <a ng-click="listCtrl.deleteList(list)" class="hand">
                <div class="remove remove-list"></div>
            </a>
        </div>

        <div class="card" ng-controller="cardCtrl as cardCtrl" ng-repeat="card in listCtrl.getCards(list)">

            <div class="card-description" ng-if="!cardCtrl.isEditing">
                {{card.description}}
                <div ng-click="cardCtrl.editCard(card)" class="edit-small edit-card hand"></div>
                <div ng-click="cardCtrl.deleteCard(card)" class="remove-small remove-card hand"></div>

            </div>
            <div class="card-editing" ng-if="cardCtrl.isEditing">
                <form ng-submit="cardCtrl.updateCard()">
                    <input close-editing is-editing="cardCtrl.isEditing" ng-model="cardCtrl.editingCard.description">
                    <select class="select-list" ng-model="cardCtrl.editingCard.list_id"
                            ng-change="cardCtrl.updateCard()"
                            ng-options="list.id as list.listName for list in listGroupCtrl.lists">
                    </select>
                </form>
            </div>
        </div>

        <section class="new-card">
            <form ng-submit="listCtrl.createCard(list)">
                <input ng-model="listCtrl.cardDescription" class="card-input" placeholder="new Card"/>
            </form>
        </section>
    </section>

    <section class="list new-list list-inline">
        <form ng-submit="listGroupCtrl.addList()">
            <input ng-model="listGroupCtrl.listName"/>
        </form>
    </section>

</section>

<script src="../bundle.js"></script>
</body>
</html>
