body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

header {
    background-color: #205c7e;
    color: #FFF;
}

input {
    border-radius: 4px;
}

.app-name {
    font-family: 'Yesteryear', cursive;
    color: #fff;
}

.list {
    background-color: #e3e3e3;
    border-radius: 4px;
    border: 1px solid #999;
    display:flex;
    flex-direction: column;
}

.list-header{
}
.list-header >  h1 {
    float: left;
    margin-bottom:0;
    margin-top: 5px;
    margin-left: 5px;
}

.list-header > a {
    float: right;
}
.card-description{
    padding-left: 5px;
    padding-right: 5px;
}
.card-description > div {
    float: right;
}

body > section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.remove {
    width: 15px;
    height: 15px;
    background: url('../img/x.svg');
}

.remove-small {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    background: url('../img/x_sm.svg');
}

.remove-list {
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 700;
    color: #205c7e;
}

.no-display {
    display: none;
}

.card {
    background-color: #FFF;
    border-radius: 4px;
    border: 1px solid #b9b9b9;
    margin-left:5px;
    margin-right: 5px;
    margin-bottom: 10px;
    height: 70px;
}

.edit {
    width: 15px;
    height: 15px;
    background: url('../img/pen_alt_stroke.svg');
}

.edit-small {
    width: 10px;
    height: 10px;
    background: url('../img/pen_alt_stroke_sm.svg');
}

.edit:hover {
    background: url('../img/pen_alt_fill.svg');
}

.edit_sm:hover {
    background: url('../img/pen_alt_fill_sm.svg');
}

.card:hover {
    border-color: #205c7e;
}

.hand {
    cursor: pointer;
}

.header-link {
    color: #FFF;
}

.header-link:hover {
    color: #e3e3e3;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}